<md-toolbar color="primary">
  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="logout()">Logout</button>
  </md-menu>
  <md-toolbar-row fxLayout="row">
    <span *ngIf="logedIn" fxFlex="300px">Welcome {{ (user | async)?.email }}</span>
    <span *ngIf="!logedIn" fxFlex="300px">Please Log In</span>
    <div fxFlex></div>
    <md-icon *ngIf="logedIn" [mdMenuTriggerFor]="menu" fxFlex="20px">account_circle</md-icon>
    <md-icon *ngIf="!logedIn" (click)="login()" fxFlex="20px">input</md-icon>
  </md-toolbar-row>
</md-toolbar>
<div *ngIf="logedIn">
  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="center center">
    <app-item-list fxFlex="300px"></app-item-list>
    <div fxFlex="100%"></div>
    <app-add-item fxFlex="300px"></app-add-item>
  </div>
</div>
